h1{
    font-size: 26px;
    background-color: rgb(7, 102, 102);
    text-align: center;
    color: white;
    padding: 20px;
}

.nav-2{
    background-color: rgb(167, 167, 167);
    padding: 15px;
    margin-left: 11px;
    margin-right: 11px;
}

.btn{
    background-color: rgb(167, 167, 167);
    color:  rgb(7, 102, 102);
    
}
