body{
    background-image: url("./Assets/Images/background.jpg");
}

h1{
    font-size: 26px;
    /* background-color:grey; */
    text-align: center;
    color: black;
    padding: 15px;
    margin-top: 10px;
    border-top:  #03506f solid 2px;
    border-bottom:  #03506f solid 2px;
}

.navbar{
    margin-left: 12px;
    margin-right: 12px;
    background-color: #03506f !important;
}


.first-card{
    margin-top: 10px;
}

.card-body{
    background-color: #03506f;
    color: white;
}

.container{
    background-color: whitesmoke;
    padding: 30px;
}

